<h1>Listing temps</h1>



<br>



 <% o = @temps.group_by_minute(:created_at).maximum(:outsidetemp)%>
<% i = @temps.group_by_minute(:created_at).maximum(:insidetemp)%>

<%= line_chart [
  {name: "Insdie", data: i},
  {name: "Outside", data: o}

] %>
